/*Navigationsbar */
header div {

    border-radius: 15px;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    margin: 10px;
    padding: 20px 10px 20px 10px;
}

header a:hover {
    background-color: #ddd;
    color: black;
}

/*Raumaufteilung */
.flex-container {
    display: flex;
    flex-direction: row;

}

.flex-container::after {
    content: "";
    display: table;
    clear: both;
}

.flex-container > div {
    align-items: center;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
}

@media screen and (max-width: 400px) {
    .column {
        float: none;
        width: 100%;
    }
}

.column {
    width: 50%;
}

.flex-container .column1 {
    width: 33.3%;
    border-radius: 0;
    background-color: white;
    text-align: left;
}

.flex-container .column2 {
    width: 33.3%;
    border-radius: 0;
    background-color: white;
}

.flex-container .column3 {
    width: 33.3%;
    border-radius: 0;
    background-color: white;
    text-align: right;

}
.flex-container .column4 {
    width: 50%;
    border-radius: 0;
    background-color: #cfd8e5;
    text-align: justify;

}
/*Text */
body {
    font-family: Calibri, serif;
    text-decoration: none;
    text-align: center;

}

h1 {

    color: midnightblue;
    text-align: center;
    font-family: Calibri, serif;
}

h2 {
    text-align: center;
    font-style: italic;
    color: steelblue;
    font-family: Calibri, serif;
}


h3 {
    text-align: center;
    font-style: italic;
    color: steelblue;
    font-family: Calibri, serif;
}


.headline {
    text-align: center;
    background-color: rgba(43, 107, 226, 0.09);
    border-radius: 15px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 30%;
    height: 100px;
    padding-top: 20px;
    margin: 10px auto auto;

}

.quote {
    font-weight: bolder;
    font-size: 14px;
    font-style: italic;
    font-family: Calibri, serif;
}

.list {
    list-style-position: inside;
}


/*Bilder */
.pictureAbout {
    width: 60%;
    padding: 0 20px 20px 20px;
    border-radius: 50px;
}

.logo {
    width: 70px;
    padding: 20px 20px 20px 20px;
}

.languageList img {

    display: inline;
    width: 12px;
    height: 12px;
    margin: 0 0.125em;
    padding: 0;
    vertical-align: baseline;
}

.languageList {
    list-style: none;
}

.osteopathy {
    width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}





